body {
    font-family: Arial, sans-serif;
    background-color: #419548; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.row {
    background-color: #fbfdfc; 
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}
h1 {
    color: rgb(20, 20, 20); 
    font-size: 24px;
    margin-bottom: 10px;
}
.information-text {
    color: #343634;
    font-size: 20px;
    margin-bottom: 20px;
}
.form-group input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 30px;
    font-size: 14px;
    box-sizing: border-box;
    height: 50px;
}
.form-group input:focus {
    border-color: #388e3c;
    outline:none;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #3f8a22; 
    color: #ffffff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
    height: 50px;
}
.form-group button:hover {
    background: #154f25;
    transform: scale(1.02, 1);
}
.back {
    margin-top: 20px;
}
.back a {
    text-decoration: none;
    color: #2e7d32; 
    font-size: 14px;
}
.back a:hover {
    text-decoration: underline;
    color: #1b5e20; 
}
