.container {
    margin: -6rem -1rem -1rem -1rem;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #378c3f;
} 

.login-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 440px;
    height: 450px;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px; 
}

.input-box .input-field {
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 30px;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.08);
    outline: none;
    transition: 0.3s;
}

::placeholder {
    font-weight: 500;
    color: #222;
}

.input-field:focus {
    width: 100%;
}

.forgot {
    display: flex;
    justify-content: space-between;
    margin: 40px;
}

section {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #170e0e;
}

#check {
    margin-right: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section a {
    color: #0c0c0c;
}

.input-submit {
    position: relative;
}

.input-submit label {
    position: absolute;
    top: 45%;
    left: 50%;
    color: #f1efef;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.submit-btn {
    width: 100%;
    height: 60px;
    background: #3d7228;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    color: #fff;
    font-size: 18px;
    font-weight: bold;

}

.submit-btn:hover {
    background: #0e3f1c;
    transform: scale(1.05, 1);
}

.sign-up-link {
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}

.sign-up-link a {
    color: #1d602c;
    font-weight: 600;
}
